RewriteEngine On
RewriteBase /
RewriteCond %{REQUEST_FILENAME} -f [OR]
RewriteCond %{REQUEST_FILENAME} -d
RewriteRule ^ - [L]
RewriteRule ^$ ../api/index.php [L]
RewriteRule ^(M201|M202|M203|M204|M205|M206|projects|ateliers|contact)\.php$ ../api/$1.php [L]
RewriteRule ^index\.php$ ../api/index.php [L]
RewriteRule ^(M201|M202|M203|M204|M205|M206)/?$ ../api/$1.php [L]
